{% extends 'base.html' %}
{% load static  bootstrap4 %}

{% block title %}Создать пост{% endblock %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="create-post">
        <div class="title">
            <h2>Создать пост</h2>
        </div>

        <div class="fields">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
    <script>
        $(function() {
            $.FroalaEditor.DefineIcon('code', {NAME: 'cog'});
            $.FroalaEditor.RegisterCommand('code', {
              title: 'Code',
              type: 'dropdown',
              focus: false,
              undo: false,
              refreshAfterCallback: true,
              options: {
                'python': 'Python',
                'html': 'HTML',
                'css': 'CSS',
              },
              callback: function (cmd, val) {
                    this.html.insert('<pre><code class="' + val + '">' + this.html.getSelected () + '</code><pre>');
              },
            });

            $('#id_body').froalaEditor({
                heightMin: 350,

                toolbarButtons: ['code']
            })
        });
    </script>
{% endblock %}